<div class="icon-row">
	<div class="icon" data-window="none">
		<a href="mailto:business.jacknicol@gmail.com"><i class="fa fa-envelope application"></i></a>
		<p>Email</p>
	</div>
</div>

<div class="icon-row">
	<div class="icon" data-window="none">
		<a href="https://linkedin.com/in/jack-nicol-423052214" target="_blank"><i class="fa fa-linkedin application"></i></a>
		<p>LinkedIn</p>
	</div>
</div>

<div class="icon-row">
	<div class="icon" data-window="none">
		<a href="https://github.com/jackn100001" target="_blank"><i class="fa fa-github application"></i></a>
		<p>GitHub</p>
	</div>
</div>