body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, p {
	margin: 0;
}
/* Components */
.desktop {
	position:relative;
  	width: 100%;
  	height: 95vh;
  	background: #5f9ea0;
}
.logo {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 3rem;
	margin-bottom: 3rem;
}
.logo h3 {
	color: #fff;
	font-size: 3rem;
	font-weight: 100;
}
.logo h3 span {
	font-weight: bold;
}
.folder {
	color: #ffff9f;
	font-size: 4rem;
}
.text-doc, .application {
	color: #fff;
	font-size: 4rem;
}
.icon-row {
	display: flex;
	justify-content: start;
	align-content: center;
}
.icon {
	padding: 1rem;
	text-align: center;
	width: 80px;
}
.icon p {
	color: #fff;
	margin-top: 0.5rem
}
#start-menu {
	position: absolute;
	left: 0;
	bottom: 0;
	min-width: 150px;
	width: 17%; 
	height: 40vh;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	background: #d6d4d4;
}
.menu-items {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	overflow: hidden;
}
.menu-items .menu-item {
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding-left: 0.5rem;
	border-bottom: 1px solid black;
}
.menu-items .menu-item:hover {
	background: #b8b6b6;
	cursor: pointer;
}
.menu-items .menu-item .menu-icon {
	display: flex;
	align-items: center;
}
.menu-items .menu-item .menu-icon a {
	text-decoration: none;
	color: #000;
}
.menu-items .menu-item .menu-icon a:visited {
	color: #000;
}
footer {
	height: 5vh;
	background: #d6d4d4;
	display: flex;
	justify-content: space-between;
	padding: 2px;
	box-sizing:border-box;
}

footer .tray-item {
	height: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 5px;
}
footer .datetime {
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
footer .start-button {
	cursor: pointer;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}
footer .start-button img {
	width: 30px;
	height: auto;
}
footer .start-button:active {
	transform: translateY(1px);
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
footer .start-button span {
	font-size: 1.35rem;
}
.window {
	position: absolute !important;
	left: 19%;
    top: 17%;
	height: 50%;
	width: 60%;
	background: #fff;
	border-left: 2px solid #d6d4d4;
	border-top: 2px solid #d6d4d4;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.window .window-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	height: 30px;
	color: #fff;
	padding-top: 2px;
    padding-bottom: 2px;
}
.window .window-bar .window-title {
	margin-left: 2px;
	display: flex;
    align-items: center;
}
.window .window-bar .window-title span:first-of-type {
	padding-left: 5px;
	text-transform:capitalize;
}
.window .window-bar .window-controls {
	margin-right: 2px;
	height: 100%;
    display: flex;
    align-items: center;
}
.window .window-bar .window-controls .close-window {
	border-radius: 0px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #d6d4d4;
}
.window .window-bar .window-controls .close-window:active {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.window .window-content {
	padding-left: 1px;
	padding-top: 5px;
	height: 100%;
	overflow-y: hidden;
}
.window .window-content textarea {
	resize: none;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    font-family: courier !important;
    font-size: 1rem;
}
.window .window-content .icon-row .icon p {
	color: #000 !important;
}
/* Utilities */
.hidden {
	display: none;
}
/* Media Queries */
@media screen and (max-width: 992px) {
	.text-doc, .application {
	    color: #fff;
	    font-size: 2.5rem;
	}
	.icon a img {
	    width: 45px;
    	height: 35px;
    }
	.icon p {
		font-size: 0.9rem;
	}
	.logo h3 {
	    font-size: 2.5rem;
	}
	footer .start-button img {
		width: 25px;
		height: auto;
	}
	footer .start-button span {
		font-size: 1.30rem;
	}
}
@media screen and (max-width: 768px) {
	.desktop {
	  	height: 94vh;
	}
	.text-doc, .application {
	    color: #fff;
	    font-size: 2rem;
	}
	.icon {
	    width: 50px;
	}
	.icon a img {
	    width: 40px;
    	height: 30px;
    }
    .window .window-content textarea {
    	font-size: 0.7rem;
    }
	.icon p {
		font-size: 0.8rem;
	}
	.logo h3 {
	    font-size: 2.5rem;
	}
	.menu-items .menu-item .menu-icon a {
		font-size: 1rem;
	}
	.menu-items .menu-item .menu-icon img {
		width: 40px;
		height: auto;
	}
	footer {
		height: 6vh;
	}
	footer .start-button img {
		width: 22px;
		height: auto;
	}
	footer .start-button span {
		font-size: 1rem;
	}
}
@media only screen and (max-height: 674px) {
	.desktop {
	  	height: 94vh;
	}
	.icon {
	    text-align: center;
	    width: 70px;
	    padding-left: 0;
	    padding-bottom: 0.1rem;
	}
	.text-doc, .application {
	    color: #fff;
	    font-size: 1.8rem;
	}
	.icon p {
		font-size: 0.6rem;
		margin-top: 0.3rem;
	}
	.logo {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    margin-right: 2.5rem;
	    margin-bottom: 2.5rem;
	}
	.logo h3 {
	    font-size: 2.5rem;
	}
	footer {
		height: 6vh;
		padding: 2px;
	}
	footer .start-button img {
		width: 20px;
		height: auto;
	}
	footer .start-button span {
		font-size: 0.9rem;
	}
	footer .datetime {
		font-size: 0.9rem;
	}
}
@media only screen and (max-height: 414px) {
	.desktop {
	  	height: 93vh;
	}
	.icon {
	    text-align: center;
	    width: 70px;
	    padding-left: 0;
	    padding-bottom: 0.1rem;
	}
	.text-doc, .application {
	    color: #fff;
	    font-size: 1.4rem;
	}
	.icon p {
		font-size: 0.5rem;
		margin-top: 0.2rem;
	}
	.text-doc, .application {
	    color: #fff;
	    font-size: 2rem;
	}
	.icon a img {
	    width: 35px;
    	height: 25px;
    }
    .window .window-content textarea {
    	font-size: 0.7rem;
    }
	.menu-items .menu-item .menu-icon a {
		font-size: 1rem;
	}
	.menu-items .menu-item .menu-icon img {
		width: 20px;
		height: auto;
	}
	.logo {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    margin-right: 2rem;
	    margin-bottom: 2rem;
	}
	.logo h3 {
	    font-size: 2rem;
	}
	footer {
		height: 7vh;
		padding: 2px;
	}
	footer .start-button img {
		width: 18px;
		height: auto;
	}
	footer .start-button span {
		font-size: 0.8rem;
	}
	footer .datetime {
		font-size: 0.8rem;
	}
}
.fa-envelope {
	color: #d6d4d4 !important;
}
.fa-linkedin {
	color: #0a66c2 !important;
}
.fa-github {
	color: #1b1f23 !important;
}
.window-title img {
	width: 32px;
    height: 20px;
}
.window-title i.fa {
	font-size: 23px;
}
